// Base colors
$charcoal: #222;
$black: #333;
$white: #f3f3f3;
$whitest: #ffffff;
$grey: #999999;
$watermelon: #fd555a;
$red: #e83426;
$lemon-yellow: #ffe631;
$amber: #ffbe00;
$pumpkin-orange: #ff9733;
$sky-blue: #10a7ec;
$blue: #0000ff;
$medium-turqoise: #46c0ac;
$emerald: #1eb856;
$creme: #f9eddf;

[data-theme="dark"] {
  background: $black;
  color: $white;
  --default: #{$white};
  --white: #{$white};
  --black: #{$black};
  --about-blue: #{$creme};
  --about-creme: #{$blue};
  --creme: #{$creme};
}

[data-theme="light"] {
  background: $white;
  color: $black;
  transition: all 0.8s ease;
  --default: #{$black};
  --white: #{$black};
  --black: #{$white};
  --about-blue: #{$blue};
  --about-creme: #{$creme};
  --creme: #{$grey};
}

@mixin glass() {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(2px) saturate(160%);
  -webkit-backdrop-filter: blur(2px) saturate(160%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15),
    inset 0 1px 1px rgba(255, 255, 255, 0.3),
    inset 0 -1px 1px rgba(255, 255, 255, 0.05),
    inset 0 0 8px rgba(255, 255, 255, 0.08);

  transition: all 0.4s ease;

  &::after {
    content: "";
    border-radius: 20px;
    position: absolute;
    inset: 0;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.07),
      rgba(255, 255, 255, 0.03)
    );
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: 1;
  }
}
