@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@mixin font-babas-neue() {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

@mixin font-auralith() {
  font-family: "Auralith", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/src/styles/fonts/Auralith.otf") format("otf"),
    url("/src/styles/fonts/AuralithItalic.otf") format("otf");
}

@mixin font-burgie() {
  font-family: "Burgie";
  font-style: normal;
  src: url("/src/styles/fonts/BurgieBlack.ttf") format("tff"),
    url("/src/styles/fonts/BurgieDemibold.ttf") format("tff"),
    url("/src/styles/fonts/BurgieExtrabold.ttf") format("tff"),
    url("/src/styles/fonts/BurgieExtralight.ttf") format("tff"),
    url("/src/styles/fonts/BurgieHeavy.ttf") format("tff"),
    url("/src/styles/fonts/BurgieLight.ttf") format("tff"),
    url("/src/styles/fonts/BurgieMedium.ttf") format("tff"),
    url("/src/styles/fonts/BurgieNormal.ttf") format("tff"),
    url("/src/styles/fonts/BurgieMedium.ttf") format("tff"),
    url("/src/styles/fonts/BurgieRegular.ttf") format("tff"),
    url("/src/styles/fonts/BurgieSemibold.ttf") format("tff"),
    url("/src/styles/fonts/BurgieThin.ttf") format("tff"),
    url("/src/styles/fonts/BurgieUltraBold.ttf") format("tff"),
    url("/src/styles/fonts/BurgieUltralight.ttf") format("tff");
}

@mixin font-futura() {
  font-family: "Futura";
  font-style: normal;
  font-weight: 400;
  src: url("/src/styles/fonts/Futura Bold Italic.ttf") format("tff"),
    url("/src/styles/fonts/Futura Bold.ttf") format("tff"),
    url("/src/styles/fonts/Futura Book.ttf") format("tff"),
    url("/src/styles/fonts/Futura Condensed.ttf") format("tff"),
    url("/src/styles/fonts/Futura Heavy Oblique.ttf") format("tff"),
    url("/src/styles/fonts/Futura Heavy.ttf") format("tff"),
    url("/src/styles/fonts/Futura Light.ttf") format("tff"),
    url("/src/styles/fonts/Futura Medium.ttf") format("tff"),
    url("/src/styles/fonts/Futura Round Bold.ttf") format("tff"),
    url("/src/styles/fonts/Futura Round Demi Italic.ttf") format("tff"),
    url("/src/styles/fonts/Futura Round Demi.ttf") format("tff"),
    url("/src/styles/fonts/Futura Round.ttf") format("tff");
}

@mixin font-glass-edge() {
  font-family: "Glass Edge Demo", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/src/styles/fonts/GlassEdgeDemoRegular.ttf") format("tff");
}

@mixin font-qomarun() {
  font-family: "Qomarun";
  font-style: normal;
  font-weight: 400;
  src: url("/src/styles/fonts/Qomarun.ttf") format("tff");
}

@mixin font-quartist() {
  font-family: "Quartist";
  font-style: normal;
  font-weight: 400;
  src: url("/src/styles/fonts/Quartist.ttf") format("tff");
}

@mixin font-ragwort() {
  font-family: "Ragwort";
  font-style: normal;
  font-weight: 400;
  src: url("/src/styles/fonts/Ragwort.otf") format("otf");
}

@mixin font-romarie() {
  font-family: "Romarie";
  font-style: normal;
  font-weight: 400;
  src: url("/src/styles/fonts/Romarie.otf") format("otf");
}

@mixin font-vanzi() {
  font-family: "Vanzi", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/src/styles/fonts/Vanzi.ttf") format("tff");
}

@mixin font-velvet-mango() {
  font-family: "Velvet Mango", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/src/styles/fonts/VelvetMango-Regular.otf") format("otf");
}

@mixin font-moret() {
  font-family: "Moret", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/src/styles/fonts/Moret-Bold.otf") format("otf"),
    url("/src/styles/fonts/Moret-BoldOblique.otf") format("otf"),
    url("/src/styles/fonts/Moret-Extrabold.otf") format("otf"),
    url("/src/styles/fonts/Moret-ExtraboldOblique.otf") format("otf"),
    url("/src/styles/fonts/Moret-Regular.otf") format("otf"),
    url("/src/styles/fonts/Moret-RegularOblique.otf") format("otf"),
    url("/src/styles/fonts/Moret-Semibold.otf") format("otf"),
    url("/src/styles/fonts/Moret-SemiboldOblique.otf") format("otf");
}
