@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Atma:wght@300;400;500;600;700&family=Bebas+Neue&family=Chewy&family=DM+Serif+Display:ital@0;1&family=Inconsolata:wdth,wght@50..200,200..900&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Lobster&family=Manufacturing+Consent&family=Orbitron:wght@400..900&family=Righteous&family=Roboto+Slab:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

// === AURALITH ===
@font-face {
  font-family: "Auralith", sans-serif;
  src: url("/fonts/Auralith.otf") format("truetype");
}

@font-face {
  font-family: "Auralith Italic", sans-serif;
  src: url("/fonts/AuralithItalic.otf") format("truetype");
}

// === BURGIE ===
@font-face {
  font-family: "Burgie";
  src: url("/fonts/BurgieBlack.ttf") format("truetype"),
    url("/fonts/BurgieDemibold.ttf") format("truetype"),
    url("/fonts/BurgieExtrabold.ttf") format("truetype"),
    url("/fonts/BurgieExtralight.ttf") format("truetype"),
    url("/fonts/BurgieHeavy.ttf") format("truetype"),
    url("/fonts/BurgieLight.ttf") format("truetype"),
    url("/fonts/BurgieMedium.ttf") format("truetype"),
    url("/fonts/BurgieNormal.ttf") format("truetype"),
    url("/fonts/BurgieMedium.ttf") format("truetype"),
    url("/fonts/BurgieRegular.ttf") format("truetype"),
    url("/fonts/BurgieSemibold.ttf") format("truetype"),
    url("/fonts/BurgieThin.ttf") format("truetype"),
    url("/fonts/BurgieUltraBold.ttf") format("truetype"),
    url("/fonts/BurgieUltralight.ttf");
}

// === FUTURA ===
@font-face {
  font-family: "Futura Light";
  src: url("/fonts/Futura Light.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Bold";
  src: url("/fonts/Futura Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Book";
  src: url("/fonts/Futura Book.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Condensed";
  src: url("/fonts/Futura Condensed.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Heavy Oblique";
  src: url("/fonts/Futura Heavy Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Heavy Oblique";
  src: url("/fonts/Futura Heavy Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Heavy";
  src: url("/fonts/Futura Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Medium";
  src: url("/fonts/Futura Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Round Bold";
  src: url("/fonts/Futura Round Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Round Demi Italic";
  src: url("/fonts/Futura Round Demi Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Round Demi";
  src: url("/fonts/Futura Round Demi.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Round";
  src: url("/fonts/Futura Round.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Bold Italic";
  src: url("/fonts/Futura Bold Italic.ttf") format("truetype");
}

// === GLASS EDGE ===
@font-face {
  font-family: "Glass Edge Demo", sans-serif;
  font-style: normal;
  src: url("/fonts/GlassEdgeDemoRegular.ttf") format("truetype");
}

// === QOMARUN ===
@font-face {
  font-family: "Qomarun";
  font-style: normal;
  src: url("/fonts/Qomarun.ttf") format("truetype");
}

// === QUARTIST ===
@font-face {
  font-family: "Quartist";
  font-style: normal;
  src: url("/fonts/Quartist.ttf") format("truetype");
}

// === RAGWORT ===
@font-face {
  font-family: "Ragwort";
  font-style: normal;
  src: url("/fonts/Ragwort.otf") format("truetype");
}

// === ROMARIE ===
@font-face {
  font-family: "Romarie";
  font-style: normal;
  src: url("/fonts/Romarie.otf") format("truetype");
}

// === VANZI ===
@font-face {
  font-family: "Vanzi Regular", sans-serif;
  font-style: normal;
  src: url("/fonts/Vanzi.ttf") format("truetype");
}

// === VELVET MANGO ===
@font-face {
  font-family: "Velvet Mango", sans-serif;
  font-style: normal;
  src: url("/fonts/VelvetMango-Regular.otf") format("truetype");
}

// === MORET ===
@font-face {
  font-family: "Moret", sans-serif;
  font-style: normal;
  src: url("/fonts/Moret-Bold.otf") format("truetype"),
    url("/fonts/Moret-BoldOblique.otf") format("truetype"),
    url("/fonts/Moret-Extrabold.otf") format("truetype"),
    url("/fonts/Moret-ExtraboldOblique.otf") format("truetype"),
    url("/fonts/Moret-Regular.otf") format("truetype"),
    url("/fonts/Moret-RegularOblique.otf") format("truetype"),
    url("/fonts/Moret-Semibold.otf") format("truetype"),
    url("/fonts/Moret-SemiboldOblique.otf") format("truetype");
}
