@use "./fonts" as *;

@mixin text-primary-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
}

@mixin text-secondary-header {
  font-size: 26px;
  font-weight: 600;
  line-height: 22px;
}

// Body Text
@mixin text-primary-text {
  font-size: 14px;
  line-height: 24px;
}

@mixin text-secondary-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

// Small Text
@mixin text-primary-small-text {
  font-family: "Glass Edge Demo";
  font-size: 10px;
  font-weight: 500;
  line-height: 8px;
}

// Cases
@mixin text-uppercase {
  text-transform: uppercase;
}
@mixin text-lowercase {
  text-transform: lowercase;
}
@mixin text-capitalize {
  text-transform: capitalize;
}

// Utilities
@mixin text-no-decoration {
  text-decoration: none;
  list-style-type: none;
}
