@use "../../styles" as *;

.About {
  overflow: hidden;

  &__content {
    @include content;
  }

  //   GRID
  &__container {
    @include content;
    text-align: center;
    font-family: "Chewy", system-ui;

    @media (min-width: calc($phone + 43px)) {
      display: grid;

      &__div1 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
      }

      &__div2 {
        grid-column-start: 3;
      }

      &__div3 {
        grid-column-start: 3;
        grid-row-start: 2;
        height: 300px;
        width: 200px;
      }

      &__div4 {
        grid-column: span 2 / span 2;
        grid-row-start: 3;
      }

      &__div5 {
        grid-column-start: 3;
        grid-row-start: 3;
      }
    }

    &__div1 {
      height: fit-content;
    }

    &__div2 {
      height: fit-content;
    }

    &__div3 {
      height: 200px;
    }

    &__div4 {
      padding-left: 7px;
      height: fit-content;
    }

    &__div5 {
      justify-self: end;
      height: fit-content;
    }
  }

  &__groove {
    font-size: 47px;
    text-align: right;
    letter-spacing: 2.4px;
    max-width: 240px;
  }

  // Resume
  &__resume {
    width: auto;
    margin: auto;
    z-index: 0;

    &__h2 {
      font-family: "Space Grotesk", sans-serif;
      font-size: 9cqmin;
      text-transform: lowercase;
      border-bottom: 3px solid var(--creme);
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
      border-radius: 20px;

      @media (min-width: $tablet_vertical) {
        &:hover {
          @include glass();
          cursor: default;
        }
      }

      &__jobContainer {
        line-height: 33px;
        width: 80%;
        display: flex;
        flex-direction: column;
      }

      &__year {
        font-family: "Inconsolata", monospace;
        color: var(--about-blue);
        margin: 0;
        width: 60px;
        text-align: center;
      }

      &__title {
        text-align: center;
        font-family: "Manufacturing Consent", system-ui;
        font-weight: lighter;
        font-style: italic;
        font-size: 74px;
        color: var(--about-blue);
        text-transform: lowercase;
        margin: 0;
        line-height: 120%;
      }

      &__company {
        font-family: "Space Grotesk", sans-serif;
        font-weight: 800;
        text-align: center;
        line-height: 22px;
        padding: 0;
        opacity: 0.5;
      }

      @media (min-width: $tablet_vertical) {
        &:hover &__company {
          opacity: 1;
        }
      }

      &__technology {
        font-weight: 100;
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  &__certificates {
    border-top: 3px solid var(--creme);
    border-top-style: dotted;

    &__container {
      @media (min-width: $tablet_vertical) {
        display: flex;
        gap: 16px;
        justify-content: space-between;
      }
    }

    &__header {
      font-family: "Space Grotesk", sans-serif;
      text-transform: lowercase;
      font-size: 54px;
      line-height: 0;
    }

    &__card {
      @include glass();
      color: var(--about-blue);
      padding: 16px;
      overflow: hidden;

      @media (min-width: $tablet-horizontal) {
        aspect-ratio: 1 / 1;
        width: calc(33% - 16px);
      }
    }

    &__title {
      font-family: "DM Serif Display", serif;
      font-size: 30px;
      line-height: 120%;
      margin: 0;
      text-align: right;
      height: 115px;

      @media (max-width: $tablet_vertical) {
        font-size: 37px;
        min-height: 100px;
      }
    }

    &__subtitle {
      font-family: "DM Serif Display", serif;
      font-size: 30px;
      line-height: 120%;
      margin: auto;
      text-align: left;
      align-content: end;
      height: 115px;

      @media (max-width: $tablet_vertical) {
        font-size: 37px;
        min-height: 100px;
      }
    }
  }

  &__school {
    border-top: 3px solid var(--creme);
    border-top-style: dotted;

    &__header {
      font-family: "Space Grotesk", sans-serif;
      text-transform: lowercase;
      font-size: 54px;
      line-height: 0;
    }

    &__card {
      @include glass();
      color: var(--about-blue);
      padding: 16px;
      overflow: hidden;
    }

    &__title {
      font-family: "DM Serif Display", serif;
      font-size: 30px;
      line-height: 120%;
      text-align: left;
      margin: 0;
      min-height: 115px;

      @media (max-width: $tablet_vertical) {
        font-size: 37px;
      }
    }

    &__subtitle {
      font-family: "DM Serif Display", serif;
      font-size: 30px;
      line-height: 120%;
      margin: auto;
      text-align: right;
      align-content: end;

      @media (max-width: $tablet_vertical) {
        font-size: 37px;
      }
    }
  }
}

.Cursor {
  @media (min-width: $tablet_vertical) {
    @include glass();
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
