@use "../../styles" as *;

.TechFieldset {
  padding: 6px;
  position: relative;

  @media (min-width: $tablet-vertical) {
    width: 50%;
    max-width: 453px;
  }

  .TechFieldset__text {
    overflow: hidden;
    position: absolute;
    width: 90%;
    height: 22px;
    top: calc(50% - 11px);
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 426px) {
      width: 360px;
    }

    &-wrapper {
      display: flex;
      gap: 0;
      width: max-content;
      animation: slide-left 20s linear infinite;
    }
  }

  &__image-container {
    padding: 10px;

    & svg {
      width: 100%;
    }
  }

  &__side {
    position: absolute;
    color: $grey;
    font-family: monospace;
    font-size: 0.5rem;
    white-space: nowrap;
    letter-spacing: 0.2ch;

    &--top {
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 94%;
      display: flex;
      justify-content: space-between;
    }

    &--right {
      right: 0;
      top: 390px;
      transform: rotate(90deg);
      transform-origin: right top;
      width: 385px;
      display: flex;
      justify-content: space-between;
    }

    &--bottom {
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
      width: 94%;
      display: flex;
      justify-content: space-between;
    }

    &--left {
      left: 0;
      top: 390px;
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 385px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
