@use "../../styles" as *;

.Footer {
  background: $charcoal;
  padding: 16px 0;
  width: 100vw;
  z-index: 10;

  &__logo {
    @include content;

    & svg {
      width: 100%;
    }

    & p {
      @include text-primary-small-text;
      color: $grey;
    }
  }

  &__connect {
    @include content;
    margin-bottom: 32px;

    & a {
      @include text-primary-text;
      font-family: "Space Grotesk", sans-serif;
      font-size: 13px;
      font-weight: 200;
      color: $grey;
      display: block;
    }

    & p {
      font-family: "Abril Fatface", serif;
      font-size: 18px;
      letter-spacing: 0.6px;
      color: $grey;
      margin: 0;
    }
  }

  &__navigation {
    width: 220px;

    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 8px;

    padding: 4px;
    height: 36px;

    border-radius: 80px;
    margin: auto;

    background: linear-gradient(
      45deg,
      rgba(243, 243, 243, 0.5) 0%,
      rgba(221, 221, 221, 0.9) 50%,
      rgba(249, 249, 249, 0.5) 100%
    );

    border: 1px solid rgba(255, 255, 255, 0.25);

    & a {
      @include text-no-decoration;
      @include text-primary-small-text;

      font-family: "Space Grotesk", sans-serif;
      font-weight: 500;

      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      padding: 0 16px;

      border-radius: $border-radius;

      color: $black;
      z-index: 2;
    }

    &__highlight {
      @include glass();

      position: absolute;
      top: 4px;
      bottom: 4px;

      border-radius: $border-radius;

      transition:
        left 0.3s ease,
        width 0.3s ease,
        opacity 0.3s ease;

      z-index: 1;
      pointer-events: none;
    }
  }
}
