@use "../../styles" as *;

.NavigationBar {
  @include content;
  @include glass();
  padding: 0;
  display: flex;
  justify-content: baseline;
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  z-index: 10;

  &:hover &__button {
    opacity: 1;
  }

  @media (max-width: $tablet-vertical) {
    justify-content: baseline;
  }

  &__logo {
    height: 44px;
    line-height: 60px;
    margin: 0 auto;
    width: 100px;
    text-align: center;
  }

  &__ul {
    font-family: "Space Grotesk", sans-serif;
    line-height: 44px;
    width: calc(75px * 3 + 16px * 3);
    margin-top: 100px;
    font-weight: 700;
    padding-inline-start: 0;
    text-transform: lowercase;
    list-style-type: none;

    @media (min-width: $tablet-vertical) {
      display: flex;
      margin: auto;
    }

    & a {
      @include text-no-decoration;
      text-align: center;

      @media (min-width: $tablet-vertical) {
        width: 130px;
      }
    }

    &__li {
      color: $white;
      border: 0;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  & .Button {
    font-family: "Space Grotesk", sans-serif;

    font-weight: 700;
    text-transform: lowercase;
    margin: 12px auto;
    min-height: 0;
    height: 22px;
    line-height: 22px;
  }

  &__button {
    @media (min-width: $tablet-vertical) {
      opacity: 0;
    }
  }

  &__button,
  &__logo,
  &__ul__li {
    filter: brightness(0.5);
    mix-blend-mode: difference;
  }

  &__togglePreferencesBtn {
    background: red;
  }
}

@media (max-width: $tablet-vertical) {
  .NavigationBar {
    border-radius: 31px;
    cursor: pointer;

    &__ul {
      width: unset;
      gap: 8px;
    }
  }
}

@keyframes bounceIn {
  0% {
    transform: translate(-50%) scale(0.99);
  }
  50% {
    transform: translate(-50%) scale(1.01);
  }
  100% {
    transform: translate(-50%) scale(1);
  }
}

.NavigationBar {
  &.bounce {
    animation: bounceIn 0.2s ease;
  }
}
