@use "./styles" as *;

html,
body {
  height: 100%;
  margin: 0;
  @include font-futura();
  font-weight: 500;
}

a {
  @include text-no-decoration;
  color: inherit;
}

::selection {
  background: $lemon-yellow;
  color: $black;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

